.Button {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  font-family: inherit;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 24rem;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #6366f1;
  --tw-gradient-stops: var(--tw-gradient-from), #ec4899,
    var(--tw-gradient-to, rgba(236, 72, 153, 0));
  --tw-gradient-to: #f59e0b;
  padding: 1.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
